.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F1F6F5;
  overflow-x: hidden;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.btn {
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  font-size: 20px;
  text-transform: capitalize;
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, border-radius 0.3s;
}

.btn:hover:not([disabled]) {
  color: red;
  background-color: aqua;
  border-radius: 0;
  transition: color 0.3s, background-color 0.3s, border-radius 0.3s;
}

.link-btn {
  text-decoration: none;
  border: 1px solid rgb(226, 224, 224);
  background-color: white;
  padding: 5px 40px;
  font-size: 20px;
  color: black;
  -webkit-box-shadow: -2px 1px 10px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 1px 10px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 1px 10px -8px rgba(0, 0, 0, 0.75);
  transition: color .3s, box-shadow .3s, background-color .3s;

}

.link-btn:hover {
  color: blue;
  background-color: rgb(240, 238, 238);
  transition: color.3s,
    box-shadow .3s,
    background-color .3s;
  box-shadow: none;
}

@media screen and (max-width: 600px) {
  .btn {
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    font-size: 10px;
  }

  .btn:hover:not([disabled]) {
    color: red;
    background-color: aqua;
    border-radius: 0;
    transition: color 0.3s, background-color 0.3s, border-radius 0.3s;
  }

}